/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Font-Face */

@import url(http://fonts.googleapis.com/css?family=Sansita+One);

/*Colors
#F1F1E2;
#D36343;
#434241;
#93C9C1;
#D4644C;
#74746C;
#B4ACA4;
*/

/* Utilities */

.hidden {
  display: none;
}

/*use of floats by Tyler*/
.left {
  float: left;
}

.right {
  float: right;
}
/*end use of floats*/

/* Site Styles */

html {
  font-size: 1em;
  line-height: 1;
}
body {
  height: 100%;
  background-color: #93C9C1;
  font-size: 100%;
}
/*Tyler, notice I am overriding the base.css HTML & BODY font properties above.  */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* This box model should not impact the grid. Still testing that */

.wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 239, 218, 0.7)), to(rgba(238, 239, 218, 0.7))), url(../images/ricepaper2.png);
  background: -webkit-linear-gradient(rgba(238, 239, 218, 0.7), rgba(238, 239, 218, 0.7)), url(../images/ricepaper2.png);
  background: linear-gradient(rgba(238, 239, 218, 0.7), rgba(238, 239, 218, 0.7)), url(../images/ricepaper2.png);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
.main-header {
  margin: 1em 0;
  padding: 1em;
  background: rgba(206, 88, 56, 0.9);
}
.main-header h1 a {
  color: #eeefda;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Sansita One', cursive;
}
h1,
h2,
h3 {
  text-align: center;
  font-family: verdana;
}
a {
  text-decoration: none;
}
nav {
  text-align: center;
}
nav a {
  display: inline-block;
  padding: 0 0.5em;
  text-decoration: none;
  line-height: 2em;
}
.bios {
  text-align: center;
}
.secondary li {
  display: inline-block;
  margin: .5em;
}
.media {
  background: rgba(28, 27, 27, 0.94);
}
.footer {
  padding: 1.5em;
  height: 100%;
  background: rgb(34, 32, 32);
}

footer a {
  font-size: 1.2em;
}

/*positioning example by Tyler*/
.relative {
  position: relative;
  margin-bottom: 100px;
}

.absolute {
  position: absolute;
  top: 5px;
  left: 5px;
}
/*end positioning example*/

/*flexbox example by Tyler*/
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/*end flexbox example*/

/* Tyler - Adding the .footer class to target only page footer */
.footer footer a,
.footer footer p {
  margin-left: 1.5em;
}

/*use of calc() by Tyler*/
.box-margin {
  margin-top: calc(3em - 14px);
  margin-left: calc(12em - 14px);
}
/*end us of calc()*/

/*attribute selector by Tyler*/
a:hover[href] {
  color: lightgrey;
}
/*end attribute selector*/

/*box model example by Tyler*/
.box-one {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
  width: 14em;
  height: 7em;
  background-color: teal;
  color: white;
}

.box-two {
  padding: 20px;
  width: 14em;
  height: 7em;
  background-color: grey;
  color: white;
}
/*end box model example by Tyler*/
/* By Tyler */
.hidpi {
  margin-left: 2em;
  width: 200px;
}


/*Progress Bar Styling by Chris*/
.skills {
}

.skills li {
  float: left;
  padding-right: 1%;
  width: 100%;
  list-style-type: none;
}
/*li:nth-child(even) { margin-bottom: 5em;}*/

progress[value] {
  position: relative;
  margin: 0 0 1.5em;
  width: 100%;
  height: 2em;
  border: none;
  background-color: #D4644C;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
  color: #222;

  appearance: none;
}
progress[value]::-webkit-progress-bar {
  background-color: #93C9C1;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
}
progress[value]::-webkit-progress-value {
  position: relative;
}
progress[value]::-webkit-progress-value:after {
  position: absolute;
  top: .7em;
  right: .7em;
  width: .5em;
  height: .5em;
  background-color: #93C9C1;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
  content: '';
}
progress[value]::-moz-progress-bar {
  background: #D4644C;
}
/* Fallback styles */

.progress-bar {
  width: 100%;
  height: 2em;
  border-radius: 3px;
  background-color: #D4644C;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
}
.progress-bar span {
  display: block;
  background-color: #D4644C;
  text-indent: -9999px;
}
p[data-value] {
  position: relative;
}
p[data-value]:after {
  position: absolute;
  right: 0;
  content: attr(data-value)'%';
}
.web::-webkit-progress-value,
.html::-webkit-progress-value,
.graphic::-webkit-progress-value,
.word::-webkit-progress-value {
  background: #D4644C;
}
.web::-moz-progress-value,
.html::-moz-progress-value,
.graphic::-moz-progress-value,
.word::-moz-progress-value {
  background: #D4644C;
}


/* Media Queries */

/* Smaller than standard 960 (devices and browsers) */

@media only screen and (max-width: 959px) {}
/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 959px) {}
/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {
  .main-header h1 a {
    color:rgba(28,27,27,0.94);
  }
  nav a {
    display:block;
    margin-bottom:2px;
    background:#eeefda;
  }
}
