/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */



header h1 {
	display: inline;
	font-family: 'Lemon', cursive;
	line-height: 1.5em;
	float: left;
}


nav {
	font-size: 2em;
	height: 3em;
	float: right;
}

nav a {
	text-decoration: none;
	float: right;
	width: 2em;
	margin-top: 0.8em;
}

figure {
  width: 100%;
  margin: 2em auto;
  height: 50%;
}

figure img{
	display: block;
	margin: 0 auto;
}


.banner{
	background: url('../images/bg2.svg'), url('../images/bg1.jpg');
	background-position: center, center bottom;
	width: 960px;
	height: 500px;
	background-repeat: no-repeat;
	margin-bottom: 2em;
}

footer{
	height:100px;
	background-color: lightgrey;
	margin-top: 40px;
}

.copyright{
	float: right;
	display: inline;
	margin-right: 20px;
	margin-top: 40px;
	color: #fff
}

.sprite1{
	width: 22px;
	height: 22px;
	background:url('../images/sprites.png') -6px -11px;
	margin:40px 0 40px 20px;
}

.sprite2{
	width: 22px;
	height: 22px;
	background:url('../images/sprites.png') -37px -11px;
	margin:40px 0 40px 10px;
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	/*@media only screen and (max-width: 959px) {}*/

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	/*@media only screen and (min-width: 768px) and (max-width: 959px) {}*/

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		header h1{
			line-height: 1em;
			text-align: center;
			margin-left: calc(50% - 212.5px);
			margin-top: .2em;
		}
		header {
			text-align: center;
		}
		nav{
			margin: 1.5em auto;
			height: 30px;

		}

		nav a {
			float: none;
			margin:0.25em;
    }

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		header h1{
			line-height: 1em;
			display: block;
			text-align: center;
		}

		header{
			position: relative;
		}

		nav{
			margin-left: -20px;
		}

		figure img{
			margin-bottom: 1em;
			margin-top: 2em;
		}

		nav a{
		text-align: center;
		padding: 13px;
		margin-bottom: 20px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		figure img{
		width: 200px;
		height: 200px;
		margin-bottom: 2em;
		}

		header h1{
			text-align: center;
			font-size: 2.5em;
			line-height: 1.2em;
			margin-bottom: -.2em;
			margin-top: .2em
		}

		nav{
			display: inline-block;
		}

		.banner{
			height: 300px;
			margin-bottom: 2em;
		}


	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
