body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.divider-style {
  border-bottom: 2px solid hotpink;
  box-shadow: 0 3px 2px rgba(0,0,0,0.1);
}

nav, .main, footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

nav {
  -webkit-flex-flow: row nowrap;
  background-color: tomato;
}

nav a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 15px;
  color: white;
}

nav a:hover {
  background: rgba(0,0,0,0.3);
}

.main {
  width: 100%;
}

section, article {
  position: relative;
}

.top {
  height: 100px;
  background:
    url('http://placehold.it/100&text=left') center left no-repeat,
    url('http://placehold.it/100&text=right') center right no-repeat;
}

.top h1 {
  position: absolute;
  left: 100px;
  top: 18px;

}

.breadcrumbs {
  position: absolute;
  right: 100px;
  top: 30px;
}

.slideshow {
  width: 50%;
}

.main section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-flow: row nowrap;
}

.main article div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-flow: row;
}

.main section article {
  width: 50%;
}

.slideshow img {
  width: 100%;
  margin: auto;
}

.main ul li {
  display: block;
}

.sprite a{
  background-image:url('http://getspritexy.com/images/sample-sprite-getspritexy.png');
  background-position: 0px 0px;
}
.sprite a:hover{
  background-image:url('http://getspritexy.com/images/sample-sprite-getspritexy.png');
  background-position: 20px 20px;
}

.wtfpsuedoclass {
  width: 50%;
}


ul li {
  display: inline;
}

progress{
  width: calc(100% - 50px);
}

.main article:nth-child(4){
  width: 100%;
  text-align: center;
}

.main article:nth-child(4) div{
  display: inline-block;
}


footer {
  -webkit-flex-flow: row nowrap;
  justify-content: space-between;
}


/* ==== Media Queries ==== */

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 48em) and (max-width: 59em) {

  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 47em) {
    nav {
      -webkit-flex-flow: column wrap;
      padding: 0;
      width: 100%;
    }

    nav a {
      width: 100%;
      text-align: center;
    }

    .top {
      text-align: center;
    }

    .top h1 {
      padding-top: 30px;
      margin: 0;
      position: static;
    }

    .breadcrumbs {
      position: static;
    }


  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 30em) and (max-width: 47em) {

  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 29em) {

  }